*{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
}
body{
    display: flex;
    min-height: 100vh;
    background-color: #2f2f2f;
    overflow: hidden;
}
/*Start Page MainPage*/
header{
    position: fixed;
    background: #000;
    color: #fff;
    width: 100%;
    height: 12%;
}
.SelectText{
    float: right;
    margin-right: 5%;
    margin-top: 0.5%;
    font-size: 200%;
}
.Taal_Select{
    float: right;
    margin-top: 4%;
    margin-right: -7.5%;
    transform: translate(-50%, -50%);
}
  
.Taal_Select select {
    background-color: #2f2f2f;
    color: white;
    padding: 8%;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    font-size: 90%;
}
.Taal_Select :hover{
    background: #3d3d3d;
}
img{
    float: right;   
    margin-right: -8.5%;
    margin-top: 2.8%;
    width: 40px;
}


/*End Page MainPage*/