@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

*{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    margin: 0;
    padding: 0;
    font-family: 'Heebo', sans-serif;
    text-decoration: none;
    background-color: #000;
    color: #fff;
}
.naam{
    margin-top: 10px;
    margin-left: 39%;
    position: absolute;
}
.container{
    margin-left: 90%;
    
}
#mySelection{
    position: fixed;
    background-color: #2f2f2f;
    padding: 5px;
    color: #fff;
    font-size: 15px;
    margin-top: 14px;
}
.shortMe{
    position: absolute;
    margin-top: 200px;
}